name: Deploy to DigitalOcean Droplet
'on':
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to DigitalOcean Droplet
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.DO_BACKEND_DROPLET_HOST}}
          username: ${{secrets.DO_BACKEND_DROPLET_USERNAME}}
          key: ${{secrets.DO_BACKEND_DROPLET_SSH_KEY}}
          script: |
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
            mkdir tmp-market
            cd tmp-market
            echo 'Cloning git repo'
            git clone git@github.com:RocketShopIndia/market-backend.git .
            echo 'Running npm install'
            npm install            
            cd ..
            pm2 delete marketApi
            rm -rf market-backend       
            mv tmp-market market-backend
            cd market-backend
            echo 'Starting app.'
            pm2 start --name marketApi npm -- run dev --
            echo 'Deployment to digital ocean finished'
